
<div class="ap-title-bar">
    <div class="row">
        <div class="ap-logo-area col-sm-6">
            <img class="ap-icon" ng-src="{{ iconFile }}" />
            <div class="ap-title-area">
                <p class="ap-logo-title">{{ title }}</p>
                <p class="ap-logo-subtitle">{{ subtitle }}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="ap-collapsed-menu pull-right">
                <button type="button" class="btn ap-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

        </div>
        <div class="ap-right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary">Button 1</button>
                <button class="btn btn-success">Button 2</button>
                <button class="btn btn-warning">Button 3</button>
            </div>
        </div>
    </div>
</div>
<div ng-transclude></div>

<div style="position: absolute; left:220px; top: 200px; color: red; font-size: 44px;">
    {{routeString}}
</div>


